<!--<form class="form-horizontal" [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-6">
      <label class="control-label">Full name&nbsp;<span class="required-indicator">*</span></label>
      <input class="form-control" type="text" formControlName="fullName" placeholder="Type your full name here..">     
      <div class="alert-danger field-error" *ngIf="userProfileForm.get('fullName').touched && userProfileForm.get('fullName').errors">
          <div class="col-md-11">            
            <p *ngIf="userProfileForm.get('fullName').errors.required">Required</p>
          </div>
        </div>
    </div>
    <div class="form-group col-6">
      <label class="control-label">Mobile number&nbsp;<span class="required-indicator">*</span></label>
      <input class="form-control" type="text" formControlName="mobileNumber" placeholder="10-digit mobile number without prefix.">
      <small id="mobileNumberHelper" class="form-text text-muted">May be assist in delivery.</small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <label class="control-label">Email&nbsp;<span class="required-indicator">*</span></label>
      <input class="form-control" type="email" formControlName="email" placeholder="name@example.com">
      <small id="emailHelper" class="form-text text-muted">We will never share your email address.</small>
    </div>
  </div>
  <div formGroupName="shippingAddress">
  <div class="form-row ">
    <div class="form-group col-12">
      <h4>Shipping address</h4>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label class="control-label" >Country/Region&nbsp;<span class="required-indicator">*</span></label>
      <select  class="form-control">
        <option selected>Select country</option>
        <option>...</option>
      </select>
    </div>
  </div>
 <div class="form-group">
    <label class="control-label">Street address&nbsp;<span class="required-indicator">*</span></label>
    <input class="form-control" type="text" formControlName="shippingstreetaddressline1" placeholder="Flat / House No /Floor / Building">
    <br />
    <input class="form-control" type="text" formControlName="shippingstreetaddressline2" placeholder="Colony / Street /Locality">
  </div>
  <div class="form-group">
    <label>City&nbsp;<span class="required-indicator">*</span></label>
    <input class="form-control" type="text" formControlName="shippingcity">
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label >State / Province / Region&nbsp;<span class="required-indicator">*</span></label>
      <select class="form-control">
        <option selected>Select state</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-6">
      <label class="control-label">Pincode&nbsp;<span class="required-indicator">*</span></label>
      <input class="form-control" type="text" formControlName="shippingpincode" placeholder="6 digits [0-9] pincode">
    </div>
  </div>
</div>
<div formGroupName="billingAddress">
  <div class="form-row">
    <div class="form-group col-12">
      <h4>Billing address</h4>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label class="control-label" for="inputState">Country/Region&nbsp;<span class="required-indicator">*</span></label>
      <select id="inputState" class="form-control">
        <option selected>Select country</option>
        <option>...</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">Street address&nbsp;<span class="required-indicator">*</span></label>
    <input class="form-control" type="text" formControlName="billingstreetaddressline1" placeholder="Flat / House No /Floor / Building">
    <br />
    <input class="form-control" type="text" formControlName="billingstreetaddressline2" placeholder="Colony / Street /Locality">
  </div>
  <div class="form-group">
    <label class="control-label">City&nbsp;<span class="required-indicator">*</span></label>
    <input class="form-control" type="text" formControlName="billingcity">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="control-label" for="inputState">State / Province / Region&nbsp;<span class="required-indicator">*</span></label>
      <select id="inputState" class="form-control">
        <option selected>Select state</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-6">
      <label class="control-label">Pincode&nbsp;<span class="required-indicator">*</span></label>
      <input class="form-control" type="text" formControlName="billingpincode" placeholder="6 digits [0-9] pincode">
    </div>
  </div>
</div>
  <div class="form-row">
    <div class="form-group col-6">
      <button class="btn btn-secondary" (click)="updateProfile()">Update Profile</button>
    </div>
    <div class="form-group col-6">
      <button class="btn btn-secondary" type="submit" [disabled]="!userProfileForm.valid">Submit</button>
    </div>
  </div>
</form>-->
<div class="row blank-row-top"></div>
<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <mat-card class="userprofilecard">
            <mat-card-header>
              <div mat-card-avatar class="profileimage"></div>
              <mat-card-title>UserName</mat-card-title>
              <mat-card-subtitle>Location</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div aria-orientation="vertical">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/userprofile/userdetail">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/userprofile/manageaddress">Manage Address</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"routerLink="/userprofile/orderhistory">Order History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/userprofile/favouriteorders">Favourite Order</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row blank-row-top"></div>