<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <h4>Order food online</h4>
          <small id="onlinefood" class="form-text text-muted">Best tiifin services delivering at your doorstep.</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form class="form-inline" (ngSubmit)="onSubmit()">
            <label class="mr-sm-2">Now</label>
            <input type="text" class="form-control mr-sm-2" id="inputLocation" placeholder="Type your location">
            <img alt="Detect" src="../assets/img/googleicon.png" style="width:30px;height:30px;">
            <input type="text" class="form-control mr-sm-2" id="inputLocation" placeholder="Search your provider or cuisines..">
            <button type="submit" class="btn btn-secondary">Order food online!</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-2"> </div>
  </div>