<div class="userdetail-container">
    <h5>user name</h5>
    <hr>
    <mat-form-field appearance="outline">
        <mat-label>Your Name</mat-label>
        <input matInput placeholder="Your Name" value="sweta singh" required>
        <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input matInput placeholder="Mobile Number" value="9911774577" required>
        <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>Your email address</mat-label>
        <input matInput placeholder="Your email address" value="sweta95@gmail.com" required>
        <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>Your place</mat-label>
        <input matInput placeholder="Your place" value="Delhi/NCR" required>
        <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field><br>
    <p>
        <button mat-button align="start">Save</button>
        <button mat-button align="end">Clear All</button>
    </p>
</div>