<div class="manageaddress-container">
    <div class="row">
        <div class="col-md-8">
            <h5>Manage Addresses</h5>
        </div>
        <div class="col-md-4">
            <a class="nav-link" routerLink="/profile/manageaddress/addaddress">Add new address</a>
        </div>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
        <!--<div class="col-md-12" *ngFor="let color of colors">
            <mat-card class="address-card">
                <mat-card-header>
                    <mat-card-title>
                        <i class="material-icons">home</i>
                        Home
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{color}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button align="start">Edit</button>
                    <button mat-button align="end">Delete</button>
                </mat-card-actions>
            </mat-card>
            <hr>
        </div>-->
    </div>

</div>