<div class="userdetail-container">
    <h5>Add Address</h5>
    <hr>
    <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="Full Name">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input matInput placeholder="Mobile Number">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>Complete address</mat-label>
        <textarea matInput placeholder="Complete address"></textarea>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>Pin Code</mat-label>
        <input matInput placeholder="Pin Code">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>Landmark</mat-label>
        <input matInput placeholder="Landmark">
    </mat-form-field><br>
   
    <p>
        <button mat-button align="start">Save</button>
        <button mat-button align="end">Cancel</button>
    </p>
</div>