/* You can add global styles to this file, and also import other style files */
/*body {
    background: url('../src/assets/img/hungrykya1.png');
    //background-size: cover;
      }*/

/* You can add global styles to this file, and also import other style files */
/* lato-regular - latin */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lato-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'), url('fonts/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/lato-v14-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}


body, html {
  height: 100%;
  font-family: 'Lato-Bold', 'Lato Bold', 'Lato' !important;
  background-color: #f2f2f2 !important;
}

.row{
  margin-left:0!important;
  margin-right:0!important;
}

.field-error {
  margin-top: -10px;
  color: #e22723!important;
  background-color: white!important;
  font-weight: bold;
  font-size:12px;
}


.myCheckbox input {
  z-index: -9999;
}

.checkbox label {
  padding-left: 0px !important;
  padding-right: 10px !important;
  margin-bottom: -3px !important;
  font-weight: bold !important;
}
.myCheckbox span {
  width: 20px;
  height: 20px;
  display: block;
  padding-right: 10px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABPSURBVEhLYxgFpAIBIHahEIPMwAlsgPg/hRhkBk4As6AAiLG5Dh8G6SHaAryKcACi9I5aMGoBXjBqAUEwwiygeWFHCcZrAc0rnFGABhgYAMF7WcVq5xvwAAAAAElFTkSuQmCC");
}

.myCheckbox input:checked + span {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAChSURBVEhL7ZXBDYMwDEXTDToCZ2bosRt0EdbkxBydgvqVWIoQDmCDxIEnfcUg8h+5QLrZy1PyDoYOk5dkDIYOExV0kqW3q4U9mwXVhww27b2coJU003i8gPKvpP9fHSzQcsIMLgHH1wJlqRxcAo5fFlnl4BKUhZ9inpeDSwAq4b5VDm4BUDrk1SIkgEdeLcKCNXYJTv/YRVIVnP7DuZmR0g+k2W0XWfNVbgAAAABJRU5ErkJggg==");
}

.myCheckbox-label {  
  font-weight: bold;
  margin-bottom: -3px;
}

.help-icon
{
  font-size: 22px !important;
  color:darkgrey;
  margin-bottom:8px;
}
.form-control {
  height: 40px !important;
  border: 1px solid #000 !important;
  border-radius: 0px !important;
}



.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none !important;
  border-radius: 0px 0px 0px 0px !important;
}
.nav-tabs > li.active > a
{
  border: none!important;
}

.myCheckbox {
  margin-bottom: 0px !important;
  font-weight: normal;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
  font-weight: 100;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgray;
  font-weight: 100;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgray;
  font-weight: 100;
}

.form-control[disabled], fieldset[disabled]
{
  cursor:text !important;
}

.blank-row-top {
  padding-top:40px;
}

.blank-row-bottom {
   padding-bottom:40px;
}
.orderOnline
{
  border: solid 1px red;
}
button
{
margin-left:10px!important;
color:white;
background-color: #007bff;
cursor: pointer;
}

.mat-input-element {
  caret-color: blue!important;
}

.profileimage {
  background-image: url('assets/img/googleicon.png');
  background-size: cover;
}
